body {
    background: linear-gradient(45deg, blue, aqua);
    min-height: 100vh; 
    min-width: 100vw;
    
   
    
}
.title {
    font-size: 15px;
}
.text {
    font-size: 15px;

}
.note_style {
    background-color: aqua;
    width: 1100px;
    height: 830px;
    padding-left: 40px;

}
.note_style:hover {
    transform: scale(1.07);
    transition: 0.5s;
}
h1 {
    display: flex;
    justify-content: center;
}
li {
    list-style-type: none;
}